


header {
    /* position: absolute; */


    /* 100 * vh = total viewport height. Helps to re-size background img to fit into view port properly*/
    /* height: 100vh; */ 
    /* width: 100vw;  */

    
     /* fix aspect ratio */
     /* object-fit: cover; */

     




/* 
     background-image: url("/media/bg-new.png");
     height: 100vh;
     min-height: 400px;
     background-size: cover; */

    

}


/* OLD: style="font-size: 4vw;" */
/* For medium screens or less, font size is smaller, else defaults to initially set font size */



.nav-link:hover  {
    /* hover color change on nav item */
    color: grey !important; /* important overrides the bootstrap properties, since text-white is applied to nav items for its classes */
}






/* Navbar toggler */
.navbar-toggler-icon {
    /* %28 and %29 are quotes */
    
    

    /* --bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-image: var(--bg-img); */

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

/* .navbar-toggler-icon {
    %28 and %29 are quotes
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
 
} */



.navbar-toggler {
    border-color: black;
    border: 0;
}

/* Remove default box-shadow, when toggler is pressed on, hence the focus pseudo class */
.navbar-toggler:focus {
    box-shadow: none;
}


.navbar {
    /* For all properties that are changed with the navbar, it should take 0.2s, to give a smooth change in appearance. This is for the scrolling solid background change effect */
    transition: all 0.2s;
}

.scrolled {
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}





/* 
.active {
    color:green !important;
} */











/* Sizing */

/* obsolete for my name */
/* @media (max-width: 768px) { 
    #myName {
        font-size: 1.1rem;
    }
} */



/* For large screens or more, the width of each nav item will be 8em */
@media (max-width: 1200px) { 
    .nav-link {
        width: 8em;
    }


}




.mt-6 {
    margin-top: 6rem;
}

.mt-copyright {
    margin-top: 10rem;
    
}

/* large size or greater */
@media (min-width: 1200px) { 
    .mt-lg-7 {
        margin-top: 12rem;
    }
}

/* large size or greater */
@media (min-width: 1200px) { 
    .px-lg-7 {
        padding-left: 12rem !important;
        padding-right: 12rem !important;
    }
}

.mb-6 {
    margin-bottom: 6rem;
}

.mb-7 {
    margin-bottom: 12rem;
}

/* For large screens or less, max width will be applied so that it doesn't take up full width due to bootstrap breakpoint */
@media (max-width: 1199.98px) { 
    .picture-width {
        max-width: 200px !important;
    }
}
