/* :root {
    --bs-body-font-family: 'Roboto';
} */



.background {
    position: absolute;

    /* 100 * vh = total viewport height. Helps to re-size background img to fit into view port properly*/
    /* height: 100vh; */ 
    /* width: 100vw;  */

    
     /* fix aspect ratio */
     /* object-fit: cover; */

    

}


.nav-link:hover  {

    color:rgb(215, 215, 215) !important; /* important overrides the bootstrap properties, since text-white is applied to nav items for its classes */
}

/* 
.active {
    color:green !important;
} */